.userShow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.userShowPic{
    height: 150px;
    width: 160px;
    border-radius: 100px;
}

.createshow {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    top:50;
    position: sticky;
}

.createdButton {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

.createdButton:hover {
    text-decoration: underline;
}

/* 
.createdButton::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center
}

.createdButton:hover::after,
.createdButton:focus::after {
    transform: scale(1);
    text-decoration: underline;
} */

.showButton {
    cursor: pointer;
}

.showButton:hover {
    text-decoration: underline;
}

.plusCreateBoard {
    margin-top: 20px;
    margin-left: 80%;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    padding-inline: 9px;
    border-radius: 40px;
}

.plusCreateBoard:hover {
    background-color: rgb(230,230,230);
}