.BoardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 1000px; */
    width: 100%;
    margin: auto
}

.BoardListItem {
    margin-inline: 100px
}

.boardCoverPic {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
}

.boardPic0{
    height: 150px;
    width: 150px;
    background-color: grey;
    margin-right: 5px;
    border-radius: 25px 0 0 25px;
}

.boardPic1 {
    height: 73px;
    width: 100px;
    background-color: grey;
    border-radius: 0 25px 0px 0;
}
.boardPic2 {
    height: 73px;
    width: 100px;
    background-color: grey;
    border-radius: 0 0px 25px 0;
}

.boardTitle {
    margin-top: 60px;
}